<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>curl -X POST --data-urlencode &quot;payload={\&quot;channel\&quot;: \&quot;#idit_\&quot;, \&quot;username\&quot;: \&quot;iditbot\&quot;, \&quot;text\&quot;: \&quot;unit tests completed successfully! triggering intergration tests\&quot;, \&quot;icon_emoji\&quot;: \&quot;:stuck_out_tongue_closed_eyes:\&quot;}&quot; https://hooks.slack.com/services/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</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>integration_test</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>